<div class="video" tapmode="active" onclick="playImage(this, '<%= DeviceID %>', '<%= Name %>');">
    <div class="title">
        <%= Name %>
    </div>
    <div class="photo">
        <img src="../image/gate/<%= DeviceID %>.jpg" alt="" style="height: 150px; width: 100%;">
    </div>
</div>