<div class="video" tapmode="active">
    <div class="title">
        <%= Name %>
    </div>
    <div class="photo" onclick="playVideo(this, '<%= VideoUrl %>');">
        <img src="../image/gate/<%= DeviceID %>.jpg" alt="" style="height: 150px; width: 100%;">
    </div>
</div>